<div class="row">
  <div class="col offset-14">
    <div class="card" id="contenedor">
      <div class="card-content">
        <div class="input-field">
          <input [(ngModel)]="persona.nombre" id="first_name" type="text" class="validate">
          <label for="first_name">Nombre</label>
        </div><br>

        <div class="input-field">
          <input [(ngModel)]="persona.apellido" id="first_name" type="text" class="validate">
          <label for="first_name">Apellido</label>
        </div><br>

        <div class="input-field">
          <input [(ngModel)]="persona.especialidad" id="first_name" type="text" class="validate">
          <label for="first_name">Titulo que posee</label>
        </div><br>

        <div class="input-field">
          <textarea [(ngModel)]="persona.acerca_de" id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Descripcion de ti</label>
        </div><br>

        <div class="form-field center-align">
          <button [mat-dialog-close] (click)="actualizarInformacion()" class="btn-large waves-effect waves-light blue">Guardar
            cambios</button>
        </div>
      </div>
    </div>
  </div>
</div>