<div class="row" >
    <div class="col offset-14">
      <div class="card" id="contenedor">
        <div class="card-content">
            <div class="input-field">
                <input  id="first_name" type="text" class="validate">
                <label for="first_name">Nombre y Apellido</label>
              </div><br>
        
          <div class="input-field">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Titulo que posee</label>
          </div><br>
          
          <div class="input-field">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Descripcion de ti</label>
          </div><br>

         
          <div class="form-field center-align">
           <button class="btn-large waves-effect waves-light blue">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>