<div class="row" style="padding: 0;">
  <div class="col s6 m4 l2">
    <div class="image"><img src="../../../assets/avatar.jpg" alt="Avatar" class="avatar">
    </div>
  </div>
  <div class="col m6 ">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text ">
        <span class="card-title">Dante Ruben Giuliano</span>
        <h2>Programador web Jr full stack</h2>
        <p>Programador web full stack developer jr angular, estudiante de la facultad de informatica
          en la universidad del comahue</p>
      </div>
    </div>
  </div>
</div>