<div class="row">
    <div class="col offset-14">
      <div class="card" id="contenedor">
        <div class="card-content">

            <div class="col">
                <img [src]=url_foto class="circle image">
            </div><br>
          <div class="input-field col m12">
            <input [(ngModel)]="url_foto" type="text" class="validate">
            <label for="first_name">URL de la imagen</label>
          </div>
         
        </div>
        <div class="form-field center-align">
            <button [mat-dialog-close]="url_foto" (click)="actualizarInformacion()" class="btn-large waves-effect waves-light blue">Guardar
              cambios</button>
          </div>
      </div>
    </div>
    
  </div>