<div class="row" >
    <div class="col offset-14">
      <div class="card" id="contenedor">
        <div class="card-content">
            <div class="input-field">
                <input [(ngModel)]="estudio.titulo" id="first_name" type="text" class="validate">
                <label for="first_name">Capacitacion</label>
              </div><br>

          <div class="input-field">
            <input [(ngModel)]="estudio.institucion" type="text" class="validate">
            <label for="first_name">Entidad de la capacitacion</label>
          </div><br>
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Fecha de inicio</mat-label>
                  <input [(ngModel)]="estudio.fecha_inicio"  matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Fecha de Finalizacion</mat-label>
                  <input [(ngModel)]="estudio.fecha_fin" matInput [matDatepicker]="picker2">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          <div class="input-field">
            <textarea [(ngModel)]="estudio.acerca_de" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Descripcion del las tareas habilitadas (max 140)</label>
          </div><br>

          <div class="input-field">
            <input [(ngModel)]="estudio.url_logo"  type="text" class="validate">
            <label for="first_name">URL logo</label>
          </div><br>
        
          <div class="form-field center-align">
           <button [mat-dialog-close] (click)="guardarCambios()" class="btn-large waves-effect waves-light blue">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>
  </div>