<div class="background" style="padding:2%;">
    <div class="title">
        <h1>
            Titulo de proyecto
        </h1>
        
    </div>

    <button   class="card-title material-icons right 
        btn-floating btn-large waves-effect waves-light red">
    <i class="material-icons">delete</i>
    </button><br>
    <button  class="card-title material-icons right
         btn-floating btn-large waves-effect waves-light">
    <i class="material-icons">edit</i>
    </button>

    <div class="body">
        <div class="box-image">
            <img class="img" src="../../../assets/sinfoto.jpg"  alt="">
        </div>
        <div class="box-descripcion">
            <div class="title-descripcion">
                <h2>Breve descripcion</h2>
            </div><br>
            <div class="p-descripcion">
                <p>
                    Diseño , desarrollo e implementacion de una pagina interactiva
                    tipo porfolio
                </p>
            </div>
            
            <br>
            <footer>
                <button class="btn-large waves-effect waves-light blue">Ir al sitio</button>
            </footer>
            
        </div>


    </div>

</div>