<div class="container">
    <div class="center-align">
        <h1>Soft Skill <mat-icon>sentiment_very_satisfied</mat-icon></h1>
        <button *ngIf="autorizado()" (click)="openAgregarSkill()" class="card-title material-icons right 
        btn-floating btn-large waves-effect waves-light blue">
            <i class="material-icons">add</i>
        </button><br>
        <hr>
    </div>

    <div style="padding:1%;">

        <div class="container box">
    
            <div class="row ">
                <div class="col s4 m4 l3" *ngFor="let item of skills">
                    <button *ngIf="autorizado()" (click)="delete(item)" class="card-title material-icons right 
                    btn-floating btn-small waves-effect waves-light red" style="margin-left:10px;">
                        <i class="material-icons">delete</i>
                    </button>
                    <button *ngIf="autorizado()" (click)="openEditMode(item)" class="card-title material-icons right 
                    btn-floating btn-small waves-effect waves-light">
                        <i class="material-icons">edit</i>
                    </button>
                    <circle-progress [percent]="item.porcentaje" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#4882c2'" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
                        [animationDuration]="2000" subtitle={{item.nombre}} ></circle-progress>
                </div>
            </div>
        </div>
    </div>

<br>
</div>
