<div class="row" >
    <div class="col offset-14">
      <div class="card" id="contenedor">
        <div class="card-content">

            <div class="input-field">
                <input [(ngModel)]="experiencia.trabajo" id="first_name" type="text" class="validate">
                <label for="first_name">Trabajo</label>
              </div><br>

          <div class="input-field">
            <input [(ngModel)]="experiencia.nombre_empresa" id="first_name" type="text" class="validate">
            <label for="first_name">Lugar de trabajo</label>
          </div><br>
  
          <div class="input-field">
            <textarea [(ngModel)]="experiencia.acerca_trabajo" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Descripcion del trabajo</label>
          </div><br>

          <div class="input-field">
            <input [(ngModel)]="experiencia.url_imagen" id="first_name" type="text" class="validate">
            <label for="first_name">URL logo</label>
          </div><br>
        
  
          <div class="form-field center-align">
           <button (click)="guardarInformacion()"
           [mat-dialog-close]="experiencia"
           class="btn-large waves-effect waves-light blue">Guardar cambios</button>
          </div><br>
  
        </div>
      </div>
    </div>
  </div>