/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --main-color: #546e7a;
}
.mat-dialog-container{
    background:transparent !important;
    padding: 0 !important;
    box-shadow:none;
}
@font-face {
    font-family: "SquarePeg";
    src: local("SquarePeg"), url(./assets/fonts/SquarePeg-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Anton";
    src: local("Anton"), url(./assets/fonts/Anton-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: local("BebasNeue-Regular"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}